*.backup*
*.key
*.latest*
*.log
*.old*
*.psd
*.sec
*.swp
*.sass
*.tf
*.tfvars
*~
.Bridge*
.DS_Store
.alm
.idea
.npm
.sass-cache
.terraform
.tmp
.vscode
.yarn
id_rsa*
node_modules
secrets.auto.tfvars
hugo-theme-learn
sass
docs
public
content.backup
docker-compose,yml

